input(:id="'inputthumb'+img.index", :name="'thumb'+img.index", :value="img.thumb", type="hidden")
input(:id="'inputimg'+img.index", :name="'img'+img.index", :value="img.image", type="hidden")
input(:id="'orientation'+img.index", :name="'orientation'+img.index", :value="img.orientation", type="hidden")
canvas(:id="'canvas'+img.index", style="display: none;")
img(:id="'return'+img.index", :src="img.image+'?version='+Math.random(100).toFixed(0)", style="display:none;")
div.row
	div.tb-10-m0.tb-02-m3
		div.row(style="height: auto;")
			span.img(:id="img.index", :name="doc._id", style="height:150px;")
				img(:id="'view'+img.index", :src="img.image+'?version='+Math.random(100).toFixed()")
		
	div.tb-10-m0.tb-06-m3.shift-00
		div.row
			label(:for="'img'+img.index+'_caption'") Image Caption
			textarea.tb-font-s(type="text", :name="'img'+img.index+'_caption'", :id="'img'+img.index+'_caption'", v-text="img.caption")
	div.tb-10-m0.tb-02-m3.shift-00
		div.row
			label.block(for="media") Switch out image:
			input.block.spacer.success(:id="'media_'+img.index", @change="handleFile(doc._id,img.index)", :class="'editmedia@'+img.index", type="file", style="padding: 18px;color:#fff;")
			label.block(:for="'deletemedia_'+img.index")
			a.danger.block.spacer(role="button" @click="deleteMedia(img.index)" :id="'deletemedia_'+img.index")
				span Delete Media
div.row
	hr