a(v-if="!doc.doc" :href="'/blog/'+doc._id" style="display:block;")
	h2.major(v-text="doc.title" style="width: 100%; overflow: hidden;")

a(v-else-if="doc.doc && doc.doc.iframe" :href="'"+appUrl+"' + doc.doc.iframe" style="display:block;" target="_blank")
	h2.major(v-text="doc.title" style="width: 100%; overflow: hidden;")

div.container(v-if="doc.doc" class="75%")
	embed(:src="doc.doc.iframe" :style="{height: wHeight * 0.55 + 'px', width: wWidth * 0.75 + 'px'}")
	p
		span.text-muted(v-text="'Document not loading?  '")
		a(:href="'"+appUrl+"' + doc.doc.iframe" v-text="'Click here'" target="_blank")
div.carousel-inner(v-if="doc.media.length > 0 && doc.media[0].image !== '/images/logo.jpg'")
	div.carousel-item(:class="(sliderIndex === j ? 'active' : '')" v-for="(item, j) in doc.media" v-if="item.image !== '/images/logo.jpg'")
		img.img(:src="item.image+'?version='+Math.random()" :alt="item.caption")
		div.carousel-caption(v-if="item.caption !== ''" v-text="item.caption")
//- div.image(v-else-if="doc.media.length === 1" v-for="(item, j) in doc.media")
//- 	img.img(:src="item.image+'?version='+Math.random()" :alt="item.caption")
div.container(class="75%")
	//- small(v-if="doc.category === 'blog'")
	h3.text-muted(v-text="doc.lede")
	p.text-muted.my-0(v-if="doc.category === 'blog'" v-text="moment(doc.date).format('MMMM Do YYYY') + ' at ' + moment(doc.date).format('hh:mm a')")
	p(v-html="doc.description")
	div.text-muted(v-if="author && author !== ''")
		p
			strong(v-text="'About the author: '")
		p(v-text="author.about")
hr.py-2(style="max-width:75%;")
