header#header(:style="{display: (timeout ? 'none' : 'flex')}")
	a(href="/" :style="{borderRadius: '50%',width: '150px', height: '150px'}")
		img(v-cloak src='/images/logo.jpg' alt="USS" :style="{borderRadius: '50%',width: '150px', height: '150px', objectFit: 'contain'}")

	div.content
		div.inner
			h1 Union for Street Solidarity
			p Solidarity not Charity
	nav
		ul
			li(v-for="(cat, k) in distinct")
				button(v-if="cat === 'intro'" @click="handleOpenArticle('intro')" v-text="'Intro'")
				button(v-else-if="cat === 'donate'" @click="handleOpenArticle('donate')" v-text="'Donate'")
				button(v-else-if="cat === 'distributions'" @click="handleOpenArticle('distributions')" v-text="'Distributions'")
				a(v-else-if="cat !== 'draft'" role="button" :href="'/'+cat" v-text="cat")

