header#header(:style="{display: (timeout ? 'none' : 'flex')}")
	img(v-cloak src='/images/logo.jpg' alt="USS" :style="{borderRadius: '50%',width: '150px', height: '150px', objectFit: 'contain'}")

	div.content
		div.inner
			h1 Union for Street Solidarity
			p Solidarity not Charity
	nav
		ul
			li
				a(role="button" href="/intro" v-text="'Intro'")
				//- button(@click="handleOpenArticle('intro')" v-text="'Intro'")
			li
				a(role="button" href="/donate" v-text="'Donate'")
				//- button(@click="handleOpenArticle('donate')" v-text="'Donate'")
			li
				a(role="button" href="/distributions" v-text="'Distributions'")
				//- button(@click="handleOpenArticle('distributions')" v-text="'Distributions'")
			li
				a(role="button" href="/blog" v-text="'blog'")


