header#header(:style="{display: (timeout ? 'none' : 'flex')}")
	a(href="/" :style="{borderRadius: '50%',width: '150px', height: '150px'}")
		img(v-cloak src='/images/logo.jpg' alt="USS" :style="{borderRadius: '50%',width: '150px', height: '150px', objectFit: 'contain'}")

	div.content
		div.inner
			h1 Union for Street Solidarity
			p Solidarity not Charity
	nav
		ul
			li(v-for="(cat, k) in distinct" v-if="cat === 'intro'")
				button(@click="handleOpenArticle('intro')" v-text="'Intro'")
			li(v-for="(cat, k) in distinct" v-if="cat === 'donate'")
				button(@click="handleOpenArticle('donate')" v-text="'Donate'")
			li(v-for="(cat, k) in distinct" v-if="cat === 'distributions'")
				button(@click="handleOpenArticle('distributions')" v-text="'Distributions'")
			li(v-for="(cat, k) in distinct" v-if="cat !== 'draft' && cat !== 'intro' && cat !== 'donate' && cat !== 'distributions'")
				a(role="button" :href="'/'+cat" v-text="cat")

