header#header(:style="(timeout ? { display: 'none' } : {})")
	img(src='/images/logo.jpg' alt="USS" :style="{borderRadius: '50%',width: 150,height: 150,objectFit: 'contain'}")

	div.content
		div.inner
			h1 Union for Street Solidarity
				p Solidarity not Charity
	nav
		ul
			li
				button(@click="handleOpenArticle('intro')" v-text="'Intro'")
			li
				button(@click="handleOpenArticle('donate')" v-text="'Donate'")
			li
				button(@click="handleOpenArticle('distributions')" v-text="'Distributions'")
			li
				a(role="button" href="/blog" v-text="'Street Stories'")


