.env
# Project dependencies
.cache
/client/.cache
node_modules
/client/node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
/client/public
.DS_Store
!/client/public/static

/server/public/stylesheets/*