extends layout
block page
	- var menu = 'changepassword'
block content
	div#vue
		//- include includes/menu.pug
		div.body
			div#wrapper
				div.container
					div.blog
						div.row
							
							form.row(enctype="multipart/form-data" method="POST" action="/changepassword" v-if="!user || user === ''")
								input(type="hidden", name="_csrf", value= csrfToken)
								h3 Enter the e-mail address you used to regiser on streetsolidarity.com
					
								div.row
									label(for="email") E-mail address
									input(type="email" name="email" id="email" autocomplete="email" :value="user.email")
								
								button.block(type="submit", ariaDescription="Get password reset link via e-mail")
									span Get reset link
							
							form.row(enctype="multipart/form-data" method="POST" action="/updatepassword" v-if="user && user !== ''" autocomplete="new-password")
								input(type="hidden", name="_csrf", value= csrfToken)
								h3 Enter new password
					
								div.row
									label(for="username") Username
									input(type="text" name="username" id="username" autocomplete="username" :value="(!user || user === '' ? '' : user.username )")
									p &nbsp
								div.row
									label(for="pw1") Password
									input#pw1(type="password" name="password" autocomplete="new-password")
									//- button.tb-10-m0.tb-03-m2.block
									p &nbsp
								div.row
									label(for="pw2") Re-type Password
									input#pw2(
										type="password" 
										@keyup="validatePassword"
										@blur="validatePassword"
										:class="(!pwv ? 'danger' : '')"
									)
									p &nbsp
								button.block(type="submit", ariaDescription="Update password")
									span Update password
							p &nbsp
							#info #{info}
						
	include vue/loggedoutvue.pug