extends layout
block page
	- var menu = "blogs"
block content
	
	div#vue

		div.body
			div#wrapper
				include partials/modal.pug
				if (user)
					if (user.admin)
						div.row
							p
								a(role="button" href="/loggedin" v-text="'Go to dashboard'")

				if (!doc || doc === '')
					
					p
						a(role="button" href="/" v-text="'Go home'")


				form.blog#form(v-if="data && data !== '' && data.length === 1" v-for="(doc, i) in data" method="POST" enctype="multipart/form-data" :action="(!edit ? ('/blog/api/newstory/') : ('/blog/api/editstory/'+doc.category+'/'+doc._id))")
					input(type="hidden" name="_csrf" value= csrfToken)
					input(type="hidden" value= (new Date()) name="date")
					//- input(type="hidden" :value="'blog'" name="category")
					input(type="hidden" :value="user._id" name="author")
					label(for="category" v-text="'category'")
					p
						select#category(name="category")
							option(value="draft" :selected="doc.category === 'draft'" v-text="'draft'")
							option(value="blog" :selected="doc.category === 'blog'" v-text="'blog'")
							option(value="intro" :selected="doc.category === 'intro'" v-text="'intro'")
							option(value="donate" :selected="doc.category === 'donate'" v-text="'donate'")
							option(value="distributions" :selected="doc.category === 'distributions'" v-text="distributions")
					p(v-for="(key, i) in Object.keys(doc)" v-if="exclude.indexOf(key) === -1")
						label(:for="key" v-text="key")
						input(type="text" v-if="key !== 'lede' && key !== 'description' && key !== 'body'" :id="key" :name="key", :value="doc[key]")
						textarea(v-else :id="key" :name="key" v-html="doc[key]" :style="{height: (key === 'description' ? '100vh' : 'auto')}")
					div.row(v-for="(foot, k) in doc.footnotes")
						label(:for="'footnote'+k+''", v-text="'Footnote #'+ (k+1)")
						input(type="text" :name="'footnote'+k+''" :id="'footnote'+k+''" :value="foot")
					div.row
						p &nbsp
						
					div.row(v-for="(img, l) in doc.media")
						label.text-uppercase(:for="('switchimg' + l)" v-text="'switch image ' + (l + 1)")
						input.form-control(:id="('switchimg' + l)" @change="handleFile(doc._id, l, $event)" type="file" style="min-height: 52px;")
						img(:src="img.image+'?version='+Math.random()" style="width: 100%")
						div.form-group(v-for="(o, m) in Object.keys(doc.media[0])" v-if="exclude.indexOf(o) === -1")
							label.text-uppercase(:for="''+(o + l)+''" v-text="o + ' ' + (l+1) ")
							textarea.form-control(v-if="(o !== 'index')" :id="''+(o + l)+''" type="text" :name="'media['+l+']['+o+']'" v-html="img[o]")
							input(v-else type="hidden" :name="'media['+l+']['+o+']'" :value="img[o]")
						input(:id="'inputthumb'+l" :name="'media['+l+'][thumb]'", :value="img.thumb", type="hidden")
						input(:id="'inputimg'+l" :name="'media['+l+'][image]'" :value="img.image" type="hidden")

						div.row
							p &nbsp
							a.btn.btn-light.btn-block(role="button" @click="initDeleteMedia(doc._id, l)" v-text="'Delete image '+ (l+1)")
							p &nbsp
					div.row(v-if="(!doc || doc === '' || !doc.media || doc.media.length === 0)")
						input(type="hidden" :value="'/images/logo.jpg'" :name="'media[0][image]'")
						input(type="hidden" :value="'/images/logo.jpg'" :name="'media[0][thumb]'")

					div.row
						label.text-uppercase(for="newimg" v-text="'Add image'")
						input.form-control#newimg(@change="handleFile(doc._id, null, $event)" type="file" style="min-height: 52px;")
						div.row
							p &nbsp
						div.row.progress
							div.progress-bar.progress-bar-striped.active#progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
								span.sr-only
						div.row
							input#submitButton.btn.btn-primary.special.btn-block.block(type="submit" :disabled="progressBar !== null")
							p &nbsp
						div.row
							p
								h4 Danger: This cannot be undone:
								a.btn.btn-warning.btn-block(role="button" @click="initDeleteEntry(doc._id)" v-text="'Delete this entry'")
	include vue/adminvue.pug
