doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge; charset=utf-8")
		title= appTitle
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		base(href="")
		link(rel="stylesheet", href="/stylesheets/styles/style.css?version=1")
		link(rel="stylesheet", href="/stylesheets/css/blog.css?version=2")
		//[if lt IE 9]
			<link rel="stylesheet" href="/stylesheets/css/ie9.css?version=1">
			<link rel="stylesheet" href="/stylesheets/css/noscript.css?version=1">
		link(rel="stylesheet", href="/stylesheets/css/font-awesome.min.css?version=1")
		link(rel="icon" type="image/png" sizes="48x48" href="/icons/icon-48x48.png")
		link(rel="icon" type="image/png" sizes="72x72" href="/icons/icon-72x72.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/icons/icon-96x96.png")
		link(rel="icon" type="image/png" sizes="144x144" href="/icons/icon-144x144.png")
		link(rel="icon" type="image/png" sizes="192x192" href="/icons/icon-192x192.png")
		//- link(rel="icon" type="image/png" sizes="256x256" href="/icons/icon-256x256.png")
		//- link(rel="icon" type="image/png" sizes="384x384" href="/icons/icon-384x384.png")
		//- link(rel="icon" type="image/png" sizes="512x512" href="/icons/icon-512x512.png")
		link(rel="manifest" href="/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
		meta(name="theme-color" content="#ffffff")
		script(type="text/javascript", src="/scripts/vue.js")
		script(type="text/javascript", src="/scripts/jquery.min.js")
		script(type="text/javascript", src="/scripts/jquery-ui.min.js")
		script(type="text/javascript", src="/scripts/moment-with-locales.min.js")
		script(type="text/javascript", src="/scripts/marked.min.js")
		//- script(src='https://donorbox.org/install-popup-button.js' type='text/javascript' defer)
		script.
			var module = {};
		script(src="https://cdn.tiny.cloud/1/yb2pwtctf7qznwdoo61w3kyj127j61gch5uhhzneop9mfkg7/tinymce/5/tinymce.min.js")
		//- script(type="text/javascript", src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=yb2pwtctf7qznwdoo61w3kyj127j61gch5uhhzneop9mfkg7")
	body
		block page
		block header
		block content
