.dbox-donation-button {
  background:#2d81c5;color:#fff;text-decoration:none;font-family:Verdana,sans-serif;display:inline-block;font-size:16px;padding:15px 38px 15px 38px;border-radius: 2px;box-shadow: 0 1px 0 0 #1f5a89;text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.blog {
  background-color: rgba(27, 31, 34, 0.85);
  margin: 50px 0 0 0;
  display: inline-block;
  left: 0;
  right: 0;
  width: 100%
}
input.block {
  width: 100%!important;
}


.carousel-item {
	transition: opacity 1s ease-in-out!important;
	display: block!important;
  max-height: 100vh;
  overflow-y: hidden;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(27, 31, 34, 0.85);
  margin: 10%;
  padding: 2.5rem;
}
.story > p > img {
  width: auto;
}
.blog ul {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}
ul.blog {
  height:auto;
  min-height:100vh;
  width:100%;
  margin-bottom:2rem; 
  overflow:auto;
  display:flex;
}
.content-container {
  position: relative;
  display: block;
  z-index: 2;
}

.text-muted {
  color: #777;
}

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
  /* ... parallax styles ... */
  .w-100 {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-1px) scale(2);
    -moz-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }

  .carousel-item {
    z-index: -1;
    height: 50%;
    transform: translateZ(-1px) translateY(-50%) scale(2);
    background-color: rgb(250,228, 216);
    transition: opacity 1s ease-in-out!important;
    display: block!important;
    overflow-x: hidden;
    overflow-y: hidden;
  	transition-property: opacity!important;
  	transition-duration: 1s!important;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .parallax-container h1 {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
    position: absolute;
  }

  .main-container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: calc(100vh - 232px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  
}

@media (min-width: 600px) {
  .blog {
    /* margin: 50px 50px 0 50px;
    left: 20px;
    right: 20px; */
    padding: 50px 50px 0 50px;
  }
}