extends layout
block page
	- var menu = "blogs"
block content
	
	div#vue

		//- include includes/menu.pug

		div.body
			div#wrapper
				
				ul.alt.blog(v-for="(doc, i) in data")
					include partials/article.pug
				
	include vue/loggedoutvue.pug