extends layout
block page
	- var menu = "blogs"
block content
	
	div#vue

		//- include includes/menu.pug

		div.body
			div#wrapper
				div.container
					ul.alt(v-for="(doc, i) in data")
						a(:href="'/blog/api/editstory/blog/'+doc._id+''" v-text="'edit'")
						include partials/article.pug
					p
						a(role="button" :href="'/blog/api/newstory'" v-text="'New blog'")
	include vue/loggedoutvue.pug