extends layout
block page
	- var menu = "blogs"
block content
	
	div#vue

		div.body
			div#wrapper
				label.tb-10-m0(for="description") Document description:
				div.description.tb-10-m0#description(v-html="doc.body", style="border-bottom: 1px solid #e1e1e1;")
				p(v-for="(foot, k) in doc.footnotes")
					label(:for="'footnote'+k+''", v-text="'Footnote #'+ (k+1)")
					input.tb-font-s(type="text", :name="'footnote'+k+''", :id="'footnote'+k+''", :value="foot")
				div.row.spacer(

					v-for="(img, j) in doc.media"
					)
					include partials/editmedia.pug
					hr


	include vue/adminvue.pug
