script(type="text/javascript").
	Vue.prototype.moment = moment;
	Vue.prototype.marked = marked;
	Vue.prototype.$ = $;
	Vue.prototype.htmldiff = htmldiff;
	Vue.prototype.window = window;
	//- Vue.prototype.d3 = d3;
	//- Vue.prototype.xth = xth;
	Vue.prototype.L = L;
	//- Vue.prototype.CensusReporter = CensusReporter;
	if (typeof tinymce === 'object') Vue.prototype.tinymce = tinymce;
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				user: '',
				author: '',
				data: this.parseObj(!{JSON.stringify(data)}),
				doc: this.parseObj(!{JSON.stringify(doc)}),
				accordions: [],
				file: null,
				//items to hide in the viewer
				exclude: ['_id', '__v', 'date', 'image', 'image_abs', 'thumb', 'thumb_abs', 'author', 'tags', 'body', 'footnotes', 'id', 'category', 'geometry', 'media'],
				tinymce: null,
				progressBar: null,
				message: '',
				modal: false,
				deleteWhich: '',
				confirmed: false
			}
		},
		watch: {
			accordions: {
				deep: true,
				handler(accordions) {
					var self = this;
					self.accordions = accordions
				}
			}
		},
		mounted: function(){
			var self = this;
			var editable = $('#description')[0]//document.getElementById('description')[0];
			console.log(editable)
			if (self.tinymce === '' && editable) {
				self.loadTinyMCE()
			} else {
				setTimeout(function(){
					self.loadTinyMCE()
				}, 2000)
			}
		},
		methods: {
			parseObj(obj) {
				if (!obj) return '';
				return obj;
			},
			parseBool(item) {
				if (!item) return false;
				return true;
			},
			initAccordions() {
				var accordions = this.data.map((doc) => doc.id)
				this.accordions = accordions
			},
			loadTinyMCE() {
				var self = this;
				self.tinymce = tinymce.init({
					menubar: false,
					statusbar: false,
					// theme: 'inlite',
					// inline: true,
					selector: "#description",
					plugins: 'lists, link',
					valid_elements: '*[*]',
					toolbar: 'bold italic underline strikethrough | bullist numlist | outdent indent blockquote | subscript superscript | link',
					default_link_target: '_blank'
				});
			},
			recordYes() {
				var self = this;
				if (!isNaN(parseInt(self.deleteWhich, 10))) {
					$.post('/blog/api/deletemedia/'+self.doc._id+'/'+self.deleteWhich+'')
					.then((result)=>{
						console.log(result);
						self.doc = result;
						self.recordNo();
					})
					.catch((err)=>console.log(err))
				} else if (self.deleteWhich.title) {
					$.post('/blog/api/deleteentry/'+self.deleteWhich._id)
					.then((result)=>{
						console.log(result);
						// self.recordNo();
						window.location.href = '/b'
					})
					.catch((err)=>console.log(err))
				}
			},
			recordNo() {
				this.confirmed = false;
				this.deleteWhich = '';
				this.modal = false;
				this.message = '';
			},
			initDeleteEntry(id) {
				var self = this;
				self.modal = true;
				self.message = 'Are you sure you want to delete this blog entry? This action will delete all information and images for the blog entry, titled '+
					self.doc.title +'.';
				self.deleteWhich = self.doc;
			},
			initDeleteMedia(id, i) {
				var self = this;
				self.modal = true;
				self.message = 'Are you sure you want to delete this image? This action is not reversible. ';
				self.deleteWhich = i;
			},
			deletemedia(id, i) {
				var self = this;
				$.post('/blog/api/deletemedia/'+id+'/'+i+'')
				.then((result) => {
					console.log(result)
				})
				.catch((err) => {
					console.log(err)
				})
			},
			deleteentry(id) {
				var self = this;
				$.post('/blog/api/deleteentry/'+id+'')
				.then((result) => {
					console.log(result)
				})
				.catch((err) => {
					console.log(err)
				})
			},
			handleFile(id, i, e) {
				var self = this;
				self.file = e.target.files[0];
				var formData = new FormData();
				formData.append('img', self.file, self.file.name);
				//https://www.codedodle.com/2016/10/nodejs-image-uploader-using-express-and.html
				$.ajax({
					url: '/blog/api/uploadimg/'+id+'',
					method: 'POST',
					data: formData,
					processData: false,
					contentType: false
					//- ,
					//- xhr: function () {
					//- 	var xhr = new XMLHttpRequest();
					//- 
					//- 	// Add progress event listener to the upload.
					//- 	xhr.upload.addEventListener('progress', function (event) {
					//- 		self.progressBar = $('.progress-bar');
					//- 
					//- 		if (event.lengthComputable) {
					//- 			var percent = (event.loaded / event.total) * 100;
					//- 			self.progressBar.width(percent + '%');
					//- 
					//- 			if (percent === 100) {
					//- 				self.progressBar.removeClass('active');
					//- 			}
					//- 		}
					//- 	});
					//- 	return xhr;
					//- }
				}).done((result) => {
					console.log(result)
					self.doc = result;
					self.progressBar.removeClass('active');
					self.progressBar.width('0%');
					self.progressBar = null;
				}).fail(function (xhr, status) {
					alert(status);
				})
			}
		}
	})
